@charset 'UTF-8';
/* CSS Document */

/* -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- --------------------------------------------------------  reset */

.container {
	width: 1200px !important;
	/* min-width: 1200px !important;
	max-width: none !important; */
	margin: 0 15px;
}

.navbar-collapse {
	border: none !important;
}

.navbar-nav {
    margin: 0 !important;
}

.navbar {
	
	border-radius: 0 !important;
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;	
	/* background: #fc9561; */
	background: #fff;
	border-bottom: 3px solid #f0f0f0;
}

.navbar h1 {
	font-size: inherit;
	margin: 0;
	padding: 0;
}

.navbar-nav li {
	float: left;
}

.navbar-nav > li > a {
    line-height: 20px !important;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.navbar-brand {
	padding: 0.4em 15px;;
}

.navbar-default .navbar-nav > li > a {
    /* color: #fff; */
}

/* -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- common */

.wrapper {
	position: relative;
	width: 1200px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- header */


header {
}

header div.inner {
	width: 1200px;
}

header h1 img {
	width: 160px;
	height: 40px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- sidebar */

/* -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- div.contentBody */

.w5 { width: 5%; }
.w10 { width: 10%; }
.w12 { width: 12%; }
.w13 { width: 13%; }
.w14 { width: 14%; }
.w15 { width: 15%; }
.w16 { width: 16%; }
.w17 { width: 17%; }
.w18 { width: 18%; }
.w20 { width: 20%; }
.w21 { width: 21%; }
.w22 { width: 22%; }
.w24 { width: 24%; }
.w25 { width: 25%; }
.w28 { width: 28%; }
.w30 { width: 30%; }
.w32 { width: 32%; }
.w38 { width: 38%; }
.w40 { width: 40%; }
.w45 { width: 45%; }
.w49 { width: 49%; }
.w50 { width: 50%; }
.w51 { width: 51%; }
.w52 { width: 52%; }
.w55 { width: 55%; }
.w60 { width: 60%; }
.w65 { width: 65%; }
.w68 { width: 68%; }
.w70 { width: 70%; }
.w72 { width: 72%; }
.w75 { width: 75%; }
.w76 { width: 76%; }
.w78 { width: 78%; }
.w80 { width: 80%; }
.w84 { width: 84%; }
.w85 { width: 85%; }
.w90 { width: 90%; }
.w95 { width: 95%; }
.w100 { width: 100%; }

.tc {
	text-align: center !important;
}

.tl {
	text-align: left !important;
}

.tr {
	text-align: right !important;
}

.vt {
	vertical-align: top !important;
}

.vm {
	vertical-align: middle !important;
}

.vb {
	vertical-align: bottom !important;
}

.m_o0 { margin-top: 0 !important; }
.m_o1 { margin-top: 1% !important; }
.m_o2 { margin-top: 2% !important; }
.m_o4 { margin-top: 4% !important; }

.m_l0 { margin-left: 0 !important; }
.m_l1 { margin-left: 1% !important; }
.m_l2 { margin-left: 2% !important; }
.m_l4 { margin-left: 4% !important; }

.m_r0 { margin-right: 0 !important; }
.m_r1 { margin-right: 1% !important; }
.m_r2 { margin-right: 2% !important; }
.m_r4 { margin-right: 4% !important; }

.m_u0 { margin-bottom: 0 !important; }
.m_u5 { margin-bottom: 5px !important; }
.m_u10 { margin-bottom: 10px !important; }
.m_u20 { margin-bottom: 20px !important; }
.m_u30 { margin-bottom: 30px !important; }
.m_u40 { margin-bottom: 40px !important; }
.m_u50 { margin-bottom: 50px !important; }
.m_u60 { margin-bottom: 60px !important; }
.m_u80 { margin-bottom: 80px !important; }

.center {
	margin-right: auto;
	margin-left: auto;
}


/* 中央揃え */

.outbox {
	position: relative;
}

.outbox .inbox {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);	
	transform: translate(-50%, -50%);
}

/* @end */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ table.deco-tb */

table.deco-tb {
    vertical-align: middle;
	border-collapse: collapse;
	border: 1px solid #ddd;
	/* border-top: 3px solid #ccc; */
	border-left: none;
	border-right: none;
	
	background: #fff;
}

table.deco-tb.fixed {
	table-layout: fixed;
}
/* 
table.deco-tb th {
    padding: 0.1em;
    vertical-align: middle;
	background: #eee;
	color: #ffffff;		
	background: #f5f5f5;
	font-weight: normal;
	border: 1px solid #ddd;	
}

table.deco-tb td {
    padding: 0.1em;
	border: 1px solid #ddd;	
    vertical-align: top;
} */

table.deco-tb.details {	border: none;}
table.deco-tb.details th {	border-left: none; border-right: none; padding: 0.2em 0.4em;}
table.deco-tb.details td {	border-left: none; border-right: none; padding: 0.2em 0.4em;}

table.deco-tb.data-table tr {
	
}

table.deco-tb.data-table tr:nth-child(3n) {
	border-bottom: 1px solid #aaa !important;	
}

table.deco-tb.data-table tr:nth-child(3n) td {
	border-bottom: 1px solid #aaa !important;	
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ .description */

div.description-box {
	padding: 0.1em 2em;
 
}

div.description-box>div {
	position: relative;
	padding: 0 1.5em 0 1.8em;
	float: left;
}

div.description-box>div:before {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	content: "";
}

div.description-box>div.white:before {	background: #fff;	border: 1px solid #ccc;}
div.description-box>div.red:before {	background: #e61c58;	border: 1px solid #ccc;}
div.description-box>div.yellow:before {	background: #e6b41c;	border: 1px solid #ccc;}
div.description-box>div.purple:before {	background: #ccadf8;	border: 1px solid #ccc;}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ .data-table */

/* 検索結果一覧 */

div.table-type-outer {		
	-webkit-overflow-scrolling: touch;		
	overflow: auto;
	overflow-x: hidden;
	position: relative;
	height: 500px;
	/* margin-right: -15px; */
	width: 1200px;
	border: 1px solid #ccc;
}

div.table-type-outer table {
	table-layout: auto;
	white-space: nowrap;
}

table.deco-tb.data-table {
	width: 1185px;	
}

table.deco-tb.data-table tr {
	
}

table.deco-tb.data-table.header {
}

table.deco-tb.data-table tr:nth-child(3n) {
	border-bottom: 1px solid #aaa !important;	
}

table.deco-tb.data-table tr:nth-child(3n) td {
	border-bottom: 1px solid #aaa !important;	
}

table.data-table th {
	text-align: center;
	/* max-width: 32px !important;
	min-width: 32px !important; */
}

table.data-table td { position: relative; }

table.data-table .head { width: 175px !important; border-bottom: 1px solid #aaa !important;}
table.data-table.header .head { border-bottom: none !important;}

table.deco-tb.data-table th {
    /* padding: 0.1em; */
    /* vertical-align: middle; */
	/* background: #eee; */
	/* color: #ffffff; */		
	background: #f5f5f5;
	font-weight: normal;
	border: 1px solid #ddd;	
}

table.deco-tb.data-table td {
    /* padding: 0.1em; */
	border: 1px solid #ddd;	
    /* vertical-align: top; */
}



table.data-table td.color-gray { background: #f0f0f0; border: 1px solid #ddd; background-clip: padding-box;}
table.data-table td.color-white { background: #fff; border: 1px solid #ddd; background-clip: padding-box;}
table.data-table td.color-lightblue { background: #d9edf7; border: 1px solid #ddd; background-clip: padding-box;}
table.data-table td.color-blue { background: #abc0f5; border: 1px solid #ddd; background-clip: padding-box;}
table.data-table td.color-yellow { background: #e6b41c; border: 1px solid #ddd; background-clip: padding-box;}
table.data-table td.color-pink { background: #e68aa5; border: 1px solid #ddd; background-clip: padding-box;}
table.data-table td.color-red { background: #e61c58; border: 1px solid #ddd; background-clip: padding-box;}
table.data-table td.color-purple { background: #ccadf8; border: 1px solid #ddd; background-clip: padding-box;}

table.data-table td.ippan:after { position: absolute; top: 0.4em; left:0; content: "一般"; font-size: 0.7em; width: 100%; text-align: center;}
table.data-table td.sanka:after { position: absolute; top: 0.4em; left:0; content: "産科"; font-size: 0.7em; width: 100%; text-align: center;}
table.data-table td.syouni:after { position: absolute; top: 0.4em; left:0; content: "小児"; font-size: 0.7em; width: 100%; text-align: center;}
table.data-table td.kasyo:after { position: absolute; top: 0.4em; left:0; content: "過小"; font-size: 0.7em; width: 100%; text-align: center;}
table.data-table td.kadai:after { position: absolute; top: 0.4em; left:0; content: "過大"; font-size: 0.7em; width: 100%; text-align: center;}
table.data-table td.seijo:after { position: absolute; top: 0.4em; left:0; content: "正常"; font-size: 0.7em; width: 100%; text-align: center;}
table.data-table td.hcu:after { position: absolute; top: 0.4em; left:0; content: "集中"; font-size: 0.7em; width: 100%; text-align: center;}






/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ hover */

table.data-table td.color-red.hover,
table.data-table td.color-yellow.hover {
	position: relative;
}

table.data-table td.color-red.hover div.details,
table.data-table td.color-yellow.hover div.details {
	position: absolute;
	top: -2em;
	right: 2em;
	display: none;
	opacity: 0;
	
	padding: 1em;
	border-radius: 5px;
	color: #333;
	background: #fff;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5),
				inset 0 1px 0 rgba(255, 255, 255, 0.8),
				inset 1px 0 0 rgba(255, 255, 255, 0.3),
				inset -1px 0 0 rgba(255, 255, 255, 0.3),
				inset 0 -1px 0 rgba(255, 255, 255, 0.2);	
	animation-duration: 0.3s;
	animation-name: show-balloon;
	z-index: 9000;
	min-width: 200px;
	width: 200px;
	text-align: left;
	white-space: normal;
}

table.data-table td.color-red.hover:hover {
	cursor: pointer;
    background: #e68ba6; border: 1px solid #e61c58; background-clip: padding-box;
}

table.data-table td.color-yellow.hover:hover {
	cursor: pointer;
    background: #fb7a23; border: 1px solid #e6b41c; background-clip: padding-box;
}

table.data-table td.color-red.hover:hover div.details,
table.data-table td.color-yellow.hover:hover div.details {
	display: block;
	opacity: 1;
	top: 0;
}

table.data-table td.color-red.hover:hover div.details div.ope,
table.data-table td.color-yellow.hover:hover div.details div.ope {
	margin-bottom: 0.5em;
	font-weight: bold;
}

table.data-table td.color-red.hover:hover div.details div.count,
table.data-table td.color-yellow.hover:hover div.details div.count {
}

@keyframes show-balloon {
	0% {
		display: none;
		opacity: 0;
		top: -2em;
	}
	1% {
		display: block;
		opacity: 0;
		top: -1em;
	}
	100% {
		display: block;
		opacity: 1;
		top: 0em;
	}
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ table.detail-table 詳細結果 */
	
div.scroll_div {		
	/* -webkit-overflow-scrolling: touch; */		
	overflow: auto;
	overflow-x: scroll;
	/* position: relative; */
	height: 500px;
}

div.scroll_div {
	table-layout: auto;
	white-space: nowrap;
}

table.detail-table {
	/* font-size: 0.8em; */
}

table.detail-table th {
	text-align: left;
}

table.detail-table td {
 	position: relative;
}

table.detail-table td span.fl {
}

table.detail-table td span.fr {
	
}

table.deco-tb.detail-table {
    vertical-align: middle;
	border-collapse: collapse;
	border: 1px solid #ddd;
	/* border-top: 3px solid #ccc; */
	border-left: none;
	border-right: none;
	
	background: #fff;
}

table.deco-tb.detail-table th {
    padding: 0.1em;
    /* vertical-align: middle; */
	background: #eee;
	border: 1px solid #ddd;
	/* color: #ffffff; */		
	background: #f5f5f5;
	font-weight: normal;
}

table.deco-tb.detail-table td {
    padding: 0.1em;
	border: 1px solid #ddd;
    /* vertical-align: top; */
}

/* table.deco-tb.details {	border: none;}
table.deco-tb.details th {	border-left: none; border-right: none; padding: 0.2em 0.4em;}
table.deco-tb.details td {	border-left: none; border-right: none; padding: 0.2em 0.4em;}
 */

table.detail-table td.color-gray { background: #f0f0f0; border: 1px solid #ddd; background-clip: padding-box;}
table.detail-table td.color-white { background: #fff; border: 1px solid #ddd; background-clip: padding-box;}
table.detail-table td.color-lightblue { background: #d9edf7; border: 1px solid #ddd; background-clip: padding-box;}
table.detail-table td.color-blue { background: #abc0f5; border: 1px solid #ddd; background-clip: padding-box;}
table.detail-table td.color-yellow { background: #e6b41c; border: 1px solid #ddd; background-clip: padding-box;}
table.detail-table td.color-pink { background: #e68aa5; border: 1px solid #ddd; background-clip: padding-box;}
table.detail-table td.color-red { background: #e61c58; border: 1px solid #ddd; background-clip: padding-box;}
table.detail-table td.color-purple { background: #ccadf8; border: 1px solid #ddd; background-clip: padding-box;}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- footer */

footer {
	color: #fff;
	background: #333;
	text-align: center;
}

footer div.copyright {
	/* font-size: 1.4rem; */
	padding: 0.5em 0;

}

footer a,
footer a:hover {
	color: #fff;
}

/* マスタ管理 */

/* ------------------------------------------------------------------------------------------------------------------------------------ tab */	

ul.tabBtn {
	margin: 0;
	padding: 0;
}

ul.tabBtn li {
	margin: 0;
	padding: 0;
	position: relative;
	display: inline;
}

ul.tabBtn li::before {
	background: none;
	content: "";
	height: auto;
	left: 0;
	margin: 0;
	position: relative;
	top: 0;
	transition: none;
	width: auto;
}
		
ul.tabBtn li a {
	display: inline-block;
	padding: 0.5em 1em;
	background: #ddd;
	border-radius: 5px 5px 0 0;
	text-decoration: none;
}

ul.tabBtn li.current a {
	background: #337ab7;
	color: #fff;
}

div.tabContents {
	width: 100%;
	position: relative;
}

div.tabContents div.content {
	position: relative;
	display: none;
	top: 0;
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
	border: 2px solid #ddd;
	border-radius: 0px 5px 5px 5px;
	animation: fadeIn 0.2s;
}

div.tabContents div.content:first-child {
	display: block;
}


.text-secondary {
	color: #6c757d;
}

/* -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- -------------------------------------------------------- flow */

div.flowNav.steps {
	width: 100%;
	z-index: 9999;
	
    transition: all .1s ease-in-out;

}

div.steps ul {
    margin: 0;
    padding: 10px 0;
	box-sizing: border-box;
	
	width: 100%;
}

div.steps ul li {
	
	background-size: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
	display: inline-block;
	padding: 0.5em 1em;
	margin: 0 1em;
	background: #fff;
	border-radius: 5px;	
	/* font-weight: bold; */
	border: 1px solid #337ab7;
	line-height: 1.3;
	
	width: 16.5%;

	
	box-sizing: border-box;
	
	text-align: center;
}

div.steps ul li:hover {
	background: #fff;
	border: 1px solid #337ab7;
}

div.steps ul li a {
	/* color: #ccc; */
	display: block;
}

div.steps ul li:hover a {
	color: #337ab7;
	text-decoration: none;
}

div.steps ul li span.number {
	/* font-family: "Century Gothic","Droid Serif","游ゴシック",YuGothic,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ",serif; */
}

div.steps ul li span.parameter {
	display: none;
}

div.steps ul li.current {
	background: #337ab7;
	border: 1px solid #337ab7;
}

div.steps ul li.current a {
	color: #fff;
}

div.steps ul li.current span.number {
	color: #337ab7;
}

div.steps ul li:first-child {
	margin-left: 0;
}

div.steps ul li:before {
	background: none;
    border-radius: none;
    content: "";
    height: auto;
    left: 0;
    margin: 0;
    position: relative;
    top: 0;
    transition: none;
    width: auto;
}

div.steps ul li:after {
	border-right: 2px solid #ddd;
    border-top: 2px solid #ddd;
    content: "";
    height: 8px;
    margin-top: -4px;
    position: absolute;
    right: -20px;
    top: 50%;
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
}

div.steps ul li:last-child:after {
	border: none;
    content: "";
    height: auto;
    margin: 0;
    position: relative;
    right: 0;
    top: 0;
	-webkit-transform: none;
    transform: none;
    width: auto;
}

/* ファイル取り込み中 */

div.whileimport {
	display: none;
}

div.whileimport.on {
	display: block;
	position: absolute;
	padding: 1em 2em;
	display: block;
	background: #000;
	/* border: 1px solid #ddd; */
	right: -15px;
	top: 0;
	border-radius: 5px;
	color: #fff;
}

div.whileimport span.loader img {
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

/*
 * loading
 */

#loading {
	display: none;
	z-index: 2;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #333;
	opacity: 0.8;
	/* i{
	font-size: 100px;
	display: block;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -1em; */
}

#loading.show {
    display: block;
}

#loading.show div {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);	
	transform: translate(-50%, -50%);
}


#loading_box_image {
    width:1185px;
    text-align:center;
    display:none;
}

#loading_box_image img{
    margin-top:-100px;
}