mail:
  from: yuyaw@portwrite.jp
  to: yuyaw@portwrite.jp
  subject: お問い合わせ
  body_pre: testestest
  body_post: testestest

tokens_dir: data
token_expires: 3600

icode: utf8
ocode: utf8

cookie:
  name: mytoken

template:
  INCLUDE_PATH: templates
  RELATIVE: 1
  ABSOLUTE: 1
  WRAPPER: layout.tt

form:
  class: form
  submit:
    class: button
    label: 送信
  fields:
    - key: name
      label: お名前
      type: text
      size: 50
      length: 100
      class: long
      required: 1
    - key: email
      label: E-Mail
      type: text
      size: 50
      length: 255
      class: long
      required: 1
      is_email: 1
      is_ascii: 1
    - key: subject
      label: 件名
      type: text
      size: 50
      length: 255
      class: long
      required: 1
    - key: text
      label: 本文
      type: textarea
      cols: 50
      rows: 10
      length: 1024
      class: long
      required: 1
